# API Reference

This section provides comprehensive API documentation for {{ project_name }}.

## Core Modules

### {{ project_slug }}.core

```{automodule} {{ project_slug }}.core
:members:
:undoc-members:
:show-inheritance:
```

### {{ project_slug }}.utils

```{automodule} {{ project_slug }}.utils
:members:
:undoc-members:
:show-inheritance:
```

## Configuration

### {{ project_slug }}.config

```{automodule} {{ project_slug }}.config
:members:
:undoc-members:
:show-inheritance:
```

## Models

### {{ project_slug }}.models

```{automodule} {{ project_slug }}.models
:members:
:undoc-members:
:show-inheritance:
```

## Examples

For usage examples, see the `examples/` directory in the project repository.

## Contributing

To add new API documentation, follow these guidelines:

1. Use docstrings with Google or NumPy style
2. Include type hints for all functions and methods
3. Add examples in docstrings where appropriate
4. Update this file to include new modules

For more information, see the [Contributing Guide](contributing.md).
